<div class="carousel-inner">
    <div class="item active" id="ima_carru">
      <img src="images/Presentación.jpg" alt="">
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <img src="http://milesdemillones.files.wordpress.com/2013/02/20130205-013954.jpg" alt="...">
      <div class="carousel-caption">
       
      </div>
    </div>
    <div class="item">
      <img src="http://www.hdwallpapers.org/walls/nasa-curiosity-mars-rover-wide.jpg" alt="...">
      <div class="carousel-caption">
       
      </div>
    </div>
   
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>