/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html
{
	position: relative;
}
body {
 
  margin-bottom: 60px;

}

.navbar-static-top {
  margin-bottom: 19px;
}
#logo
{
	height: 70px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: white;
}
.color
{
	background-color: #0B3861;
}
.caru
{
	margin-top: -20px;
	
}
#ima_carru
{

}
.inter
{
  width: 200px;
  box-shadow: 3px 1px 15px 0px rgba(53, 50, 50, 0.37);
}
.titulo
{
  text-align: center;
 
  font-size: 80px;
}
.inter2
{
  width: 100px;
}
.evento
{
  width: 200px;
}
.fondo
{
  background-color: blue;
}
.spon
{
  width: 150px;